<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Food System", root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Início", root_path, class: "nav-link" %>
          </li>
          <% if current_user.cliente? %>
            <li class="nav-item">
              <%= link_to "restaurantes", restaurantes_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Pedidos", orders_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Comidas", foods_path, class: "nav-link" if current_user.restaurante? %>
          </li>
          <li class="nav-item">
            <%= link_to "Perfil", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, 
                          class: "btn btn-outline-light btn-sm ms-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Início", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cadastrar", new_user_registration_path, 
                        class: "btn btn-outline-light btn-sm ms-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
