<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to t('app.name'), root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('views.shared.header.home'), root_path, class: "nav-link" %>
          </li>
          <% if current_user.cliente? %>
            <li class="nav-item">
              <%= link_to t('views.shared.header.restaurants'), restaurantes_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t('views.shared.header.orders'), orders_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to t('views.shared.header.foods'), foods_path, class: "nav-link" if current_user.restaurante? %>
          </li>
          <li class="nav-item">
            <%= link_to t('views.shared.header.profile'), edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to t('views.shared.header.logout'), destroy_user_session_path, method: :delete, 
                          class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('views.shared.header.home'), root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('views.shared.header.login'), new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
