<% if @order.present?%>
 <h1>Não ha pedidos</h1>
  <%else%>
  <% @orders.each do |order| %>
   <h1>Pedidos</h1>
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
      <p><strong>Comida:</strong> <%= order.item_description %></p>
      <p><strong>Quantidade:</strong> <%= order.quantity %></p>
      <p><strong>Valor:</strong> <%= number_to_currency(order.estimated_value) %></p>
      <p><strong>Status:</strong> <%= order.status&.humanize || "Indefinido" %></p>

      <% if current_user.restaurant? %>
        <%= form_with model: order, url: order_path(order), method: :patch, local: true do |f| %>
          <div>
            <%= f.label :status, "Atualizar status:" %>
            <%= f.select :status, Order.statuses.keys.map { |s| [s.humanize, s] }, selected: order.status %>
            <%= f.submit "Atualizar", class: "btn btn-sm btn-primary" %>
          </div>
        <% end %>
      <% end %>

      <% if current_user.client? && order.pendente? %>
        <%= button_to 'Cancelar Pedido', order_path(order), method: :patch, params: { order: { status: 'cancelado' } }, data: { confirm: 'Tem certeza que deseja cancelar o pedido?' } %>
      <% end %>
    </div>
  <% end %>
<% end %>
