<h1>Meus Pedidos</h1><%=current_user.email%>

<% @orders.each do |order| %>
  <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    <p><strong>Produto:</strong> <%= order.item_description %></p>
    <p><strong>Quantidade:</strong> <%= order.quantity %></p>
    <p><strong>Valor:</strong> <%= number_to_currency(order.estimated_value) %></p>
    <p><%= link_to 'Ver detalhes', order_path(order) %></p>
  </div>
<% end %>
