<h1>Comidas</h1>

<% if current_user.client? %>
  <p>Veja os pratos de todos os restaurantes abaixo:</p>
  <ul>
  <% @foods.each do |food| %>
    <li>
      <strong><%= food.name %></strong> - <%= number_to_currency(food.price) %>
      <%= link_to 'Ver detalhes', food_path(food) %> |
      <%= link_to 'Adicionar Pedido', new_order_path(food_id: food.id) %>
    </li>
  <% end %>
  </ul>
<% elsif current_user.restaurant? %>
  <%= link_to 'Novo Produto', new_food_path, class: 'button' %>
  <ul>
    <% @foods.each do |food| %>
      <li>
        <strong><%= food.name %></strong> - <%= number_to_currency(food.price) %>
        <%= link_to 'Ver detalhes', food_path(food) %> | 
        <%= link_to 'Editar', edit_food_path(food) %> | 
        <%= link_to 'Excluir', food_path(food), method: :delete, data: { confirm: "Tem certeza?" } %>
      </li>
    <% end %>
  </ul>
<% end %>
