<h1><%= @food.name %></h1>

<p><strong>Descrição:</strong> <%= @food.description %></p>
<p><strong>Preço:</strong> <%= number_to_currency(@food.price) %></p>
<p><strong>Restaurante</strong> <%= @food.user.email %></p>

<% if current_user.client? %>
  <%= link_to 'Criar pedido', new_order_path(food_id: @food.id) %>
<% elsif current_user.restaurant? %>
  <%= link_to 'Editar', edit_food_path(@food) %> |
  <%= button_to 'Excluir', food_path(@food), method: :delete, data: { confirm: "Tem certeza?" } %>
<% end %>
