<h1>Meus Endereços</h1>

<%= link_to "Novo Endereço", new_address_path %>

<ul>
  <% @addresses.each do |address| %>
    <li>
      <strong><%= address.street %></strong>, <%= address.number %>, <%= address.neighborhood %>
      <%= link_to 'Editar', edit_address_path(address), class: 'button button--primary' %>
      <%= button_to 'Excluir', address_path(address), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'button button--danger' %>
    </li>
  <% end %>
</ul>
