<h1><%= @product.name %></h1>

<p><strong>Descrição:</strong> <%= @product.description %></p>
<p><strong>Preço:</strong> <%= number_to_currency(@product.price) %></p>
<p><strong>Restaurante</strong> <%= @product.user.email %></p>

<% if current_user.client? %>
  <%= link_to 'Adicionar Pedido', new_order_path(product_id: @product.id) %>
<% elsif current_user.restaurant? %>
  <%= link_to 'Editar', edit_product_path(@product) %> |
  <%= link_to 'Excluir', product_path(@product), method: :delete, data: { confirm: "Tem certeza?" } %>
<% end %>
